<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cargar combustible</title>
</head>
<body>
<h2>Formulario generación de carga de combustible:</h2>
<form th:object="${cargaDTO}" th:action="@{/guardarCarga}" method="post">
    <label>Cantidad de combustible:</label>
    <input th:field="*{litrosCargados}" type="number" step="0.1" required><br><br>
    <label>Tipo de combustible:</label>
    <select th:field="*{tipoCombustible}" required>
        <option value="">Seleccione una opción</option>
        <option value="NAFTA">Nafta</option>
        <option value="GASOIL">Gasoil</option>
    </select><br><br>
    <input type="submit" value="Calcular presupuesto" th:formaction="@{/calcularPresupuesto}"><br><br>
    <div th:if="*{presupuesto != null}">
        <p style="color: green; font-weight: bold;">
            Presupuesto: <span th:text="*{presupuesto}"></span> ARS
        </p>
        <input type="hidden" th:field="*{presupuesto}">
    </div>
    <label>Precio pagado:</label>
    <input th:field="*{precioPagado}" type="number" step="0.1" required><br><br>
    <button type="submit">Registrar carga</button>
    <a th:href="@{/historial}">Panel flota</a>
</form>
</body>
</html>